.website-container {
    display: grid;
    grid-template-areas: 'logo' 'body' 'footer';
    justify-items: center;
}

.website-logo {
    grid-area: 'logo';
}

.website-body {
    grid-area: 'body';
}

.website-footer {
    grid-area: 'footer';
}