.menu-options-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20px 30px 20px 30px 20px 30px 20px 30px 20px 30px 50px;
    grid-template-areas: 
        '. textWidth . valueWidth .' 
        '. errorWidth errorWidth errorWidth errorWidth'
        '. textHeight . valueHeight .' 
        '. errorHeight errorHeight errorHeight errorHeight'
        '. textLines . valueLines .'
        '. errorLines errorLines errorLines errorLines'
        '. textHoles . valueHoles .'
        '. errorHoles errorHoles errorHoles errorHoles'
        '. textWalls . valueWalls .'
        '. errorWalls errorWalls errorWalls errorWalls'
        '. buttonStart . buttonEditor .';
    color: white;
}

.menu-option-text-width {
    grid-area: textWidth;
}

.menu-option-value-width {
    grid-area: valueWidth;
}

.menu-option-error-width {
    grid-area: errorWidth;
}

.menu-option-text-height {
    grid-area: textHeight;
}

.menu-option-value-height {
    grid-area: valueHeight;
}

.menu-option-error-height {
    grid-area: errorHeight;
}

.menu-option-text-lines {
    grid-area: textLines;
}

.menu-option-value-lines {
    grid-area: valueLines;
}

.menu-option-error-lines {
    grid-area: errorLines;
}

.menu-option-text-holes {
    grid-area: textHoles;
}

.menu-option-value-holes {
    grid-area: valueHoles;
}

.menu-option-error-holes {
    grid-area: errorHoles;
}

.menu-option-text-walls {
    grid-area: textWalls;
}

.menu-option-value-walls {
    grid-area: valueWalls;
}

.menu-option-error-walls {
    grid-area: errorWalls;
}

.menu-option-button-start {
    grid-area: buttonStart;
    margin-top: 20px;
}

.menu-option-button-editor {
    grid-area: buttonEditor;
    margin-top: 20px;
}

small {
    color: rgb(255, 107, 107);
}