<form class="menu-options-container" [formGroup]="menuForm" (ngSubmit)="onStart()">
    <label class="menu-option-text-width" for="width">Width:</label>
    <input class="menu-option-value-width" id="width" [formControl]="menuForm.controls.width" (keypress)="allowOnlyNumbers($event)">
    <div class="menu-option-error-width" *ngIf="menuForm.controls.width.touched && menuForm.controls.width.invalid">
        <small *ngIf="menuForm.controls.width.errors?.['required']">Width is required.</small>
        <small *ngIf="menuForm.controls.width.errors?.['min']">Width must be at least 1.</small>
        <small *ngIf="menuForm.controls.width.errors?.['pattern']">Width must be a number.</small>
    </div>
    
    <label class="menu-option-text-height" for="height">Height:</label>
    <input class="menu-option-value-height" id="height" [formControl]="menuForm.controls.height" (keypress)="allowOnlyNumbers($event)">
    <div class="menu-option-error-height" *ngIf="menuForm.controls.height.touched && menuForm.controls.height.invalid">
        <small *ngIf="menuForm.controls.height.errors?.['required']">Height is required.</small>
        <small *ngIf="menuForm.controls.height.errors?.['min']">Height must be at least 2.</small>
        <small *ngIf="menuForm.controls.height.errors?.['pattern']">Height must be a number.</small>
    </div>

    <label class="menu-option-text-lines" for="lines">Lines:</label>
    <input class="menu-option-value-lines" id="lines" [formControl]="menuForm.controls.lines" (keypress)="allowOnlyNumbers($event)">
    <div class="menu-option-error-lines" *ngIf="menuForm.controls.lines.touched && menuForm.controls.lines.invalid">
        <small *ngIf="menuForm.controls.lines.errors?.['required']">Lines is required.</small>
        <small *ngIf="menuForm.controls.lines.errors?.['min']">Lines must be at least 1.</small>
        <small *ngIf="menuForm.controls.lines.errors?.['pattern']">Lines must be a number.</small>
    </div>

    <label class="menu-option-text-holes" for="holes">Holes:</label>
    <input class="menu-option-value-holes" id="holes" [formControl]="menuForm.controls.holes" (keypress)="allowOnlyNumbers($event)">
    <div class="menu-option-error-holes" *ngIf="menuForm.controls.holes.touched && menuForm.controls.holes.invalid">
        <small *ngIf="menuForm.controls.holes.errors?.['required']">Holes is required.</small>
        <small *ngIf="menuForm.controls.holes.errors?.['min']">Holes must be at least 0.</small>
        <small *ngIf="menuForm.controls.holes.errors?.['pattern']">Holes must be a number.</small>
    </div>

    <label class="menu-option-text-walls" for="walls">Walls:</label>
    <input class="menu-option-value-walls" id="walls" [formControl]="menuForm.controls.walls" (keypress)="allowOnlyNumbers($event)">
    <div class="menu-option-error-walls" *ngIf="menuForm.controls.walls.touched && menuForm.controls.walls.invalid">
        <small *ngIf="menuForm.controls.walls.errors?.['required']">Walls is required.</small>
        <small *ngIf="menuForm.controls.walls.errors?.['min']">Walls must be at least 0.</small>
        <small *ngIf="menuForm.controls.walls.errors?.['pattern']">Walls must be a number.</small>
    </div>

    <div class="rounded-button menu-option-button-start" (click)="onStart()">Start</div>
    <div class="rounded-button menu-option-button-editor" (click)="onEdit()">Editor</div>
</form>